<form (ngSubmit)="OnSignin()">
  <label for="inputEmailAddress">Adresse email de connexion</label>
  <input type="email" id="inputEmailAddress" [(ngModel)]="tsEmailAddress" name="inputForEmailAddress">
  <button type="submit">Signin!</button>
</form>
<form>  
  <label for="inputPseudo">entrez votre pseudo</label>
  <input type="text" id="inputPseudo" [(ngModel)]="tsPseudo" name="inputNameForPseudo">
  <button (click)="OnRecordFirstname()">Enregistrer votre pseudo</button>
</form>

<form #profileForm="ngForm" (ngSubmit)="OnRecordProfile(profileForm)">  
  <label for="inputLastname">Nom de famille</label>
  <input type="text" id="inputLastname" [(ngModel)]="tsLastname" name="inputNameForLastname">
<br>

  <label for="inputFirstName">Prénom</label>
  <input type="text" id="inputFirstName" [(ngModel)]="tsFirstname" name="inputNameForFirstname">
<br>
  <label for="inputBirthdate">Date de naissance aaaammjj</label>
  <input type="text" id="inputBithdate" [(ngModel)]="tsBirthdate" name="inputNameForBirthdate">
  <br>
  <button type="submit" >Enregistrer votre nom</button>


<!--
[(ngModel)] permet de le 2WayBinding
l'attribute binding se passe avec les crochets  [] 
l'event binding avec les parenthèses  () 

On passe bien  ngForm  et non  NgForm  à la référence locale, 
car ce n'est pas le type  NgForm  qui nous intéresse, mais la directive  ngForm  .
Cette directive est appliquée automatiquement à toutes les balises  form  par Angular, et ici vous créez une référence à la directive pour la passer à la méthode  onSubmitForm()  . 
C'est cette directive qui vous donne accès à l'attribut  value  , entre autres.

L'attribut Name de chaque input est nécessaire pour récupérer les valeurs du formulaire
passé en paramètre de OnRecordProfile
-->